{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <body>
        {% if user_is_authenticated %}
            <p>Добро пожаловать, {{ current_user.username }}!</p>
            {% if articles %}
                <table>
                    <thead>
                        <tr>
                            <th>Заголовок статьи</th>
                            <th>Ссылка на статью</th>
                            <th>Лайки</th>
                            <th>Добавить в избранное</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.title }}</td>
                                <td><a href="{{ url_for('lab5.getArticle', article_id=article.id) }}">Посмотреть статью</a></td>
                                <td>{{ article.likes }}</td>
                                <td><a href="{{ url_for('lab5.add_to_favorite', article_id=article.id) }}">Добавить в избранное</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>У вас пока нет статей.</p>
            {% endif %}
            <a href="/lab5">
                <button>Вернуться назад</button>
            </a>
        {% else %}
            <p>Пожалуйста, войдите, чтобы просмотреть свои статьи.</p>
        {% endif %}
    </body>
{% endblock %}
