{% extends "base.html" %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block main %}
<div>
    <div>
    <h2>Пожалуйста, авторизуйтесь</h2>
    <div>
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    </div>
    <form method="post">
        <div>
            <label for="username">Пользователь</label>
            <input class="pole" type="text" id="username" name="username" value="{{ username or '' }}">
        </div>
        <div>
            <label for="password">Пароль</label>
            <input class="pole" type="password" id="password" name="password" value="{{ password or '' }}">
        </div>
        <div>
            <button type="reset">Отмена</button>
            <button type="submit">Войти</button>
        </div>
        
    </form><a href="/lab6">
            <button >Вернуться назад</button>
        </a>
    </div>
</div>
{% endblock %}
