{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <div class="order-form">
        <h1>Заказ напитка</h1>

        <form action="/lab3/pay">

            <div class="drink-options">
                <div class="option">
                    <input type="radio" value="coffee" name="drink" id="coffee" checked>
                    <label for="coffee">Кофе - 120₽</label>
                </div>
                <div class="option">
                    <input type="radio" value="black-tea" name="drink" id="black-tea">
                    <label for="black-tea">Черный чай - 80₽</label>
                </div>
                <div class="option">
                    <input type="radio" value="green-tea" name="drink" id="green-tea">
                    <label for="green-tea">Зеленый чай - 70₽</label>
                </div>
            </div>

            <div class="additives">
                <div class="option">
                    <input type="checkbox" name="milk" id="milk">
                    <label for="milk">Молоко - 30₽</label>
                </div>
                <div class="option">
                    <input type="checkbox" name="sugar" id="sugar">
                    <label for="sugar">Сахар - 10₽</label>
                </div>
            </div>

            <div class="submit-button">
                <button type="submit">Заказать</button>
            </div>
        </form>
    </div>

{% endblock %}