{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<body>
    <h1>Страница регистрации</h1>

    {% if errors %}
            {% for error in errors %}
            <div><b>{{ error }}</b></div>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="/lab5/register">
        <label for="username">Логин:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Зарегистрироваться">
    </form>
    <br>
    <a href="/lab5">
        <button >Вернуться назад</button>
    </a>
</body>

{% endblock %}