{% extends "base.html" %}

{% block lab %}MERCEDES S-CLASS - История S класса{% endblock %}

{% block main %}
    <h1>MERCEDES S-CLASS</h1>
    <h2>W116</h2>
    <img src="{{ url_for('static', filename='w116.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        Mercedes-Benz W116 — серия представительских легковых автомобилей
         немецкой торговой марки Mercedes-Benz, производившаяся с августа 
         1972 года[1] по сентябрь 1980 года. Автомобили W116 были первыми 
         моделями компании, которые официально именовались S-классом, хотя
          и более ранние модели в кузове седан уже неофициально имели 
          коммерческие индексы с буквой «S» — нем. Sonderklasse или 
          специальный класс. Серия пришла на смену автомобилям W108/W109 
        и первоначально оснащалась исключительно бензиновыми двигателями,
        однако в 1978 году была выпущена версия с турбированным дизельным
        силовым агрегатом. 
    </div>
    <h2>W126</h2>
    <img src="{{ url_for('static', filename='w126.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        Mercedes-Benz W126 — серия флагманских легковых автомобилей
         немецкой торговой марки Mercedes-Benz. Представленная в 1979 
         году как замена более ранней модели W116, W126 стал вторым 
         поколением флагманских автомобилей Mercedes-Benz, официально 
         носившем название S-класс, то есть Sonderklasse (с нем. «Особый
          класс»). Первоначально W126 предлагался в кузове седан с 
          рядными 6-цилиндровыми двигателями, V8 и турбодизельными 
          моторами. В сентябре 1981 года была представлена версия купе
           с двухдверным кузовом. Автомобиль комплектовался подушкой 
           безопасности, преднатяжителями ремней, системоӣ курсовой 
           устойчивости и многими другими техническими решениями.
    </div>
    <h2>W140</h2>
    <img src="{{ url_for('static', filename='w140.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;"> 
    Mercedes-Benz W140 — серия флагманских моделей S-класса 
    немецкой торговой марки Mercedes Benz. Официальная презентации
     состоялась в марте 1991 года на Женевском автосалоне. Серия 
     пришла на смену автомобилям Mercedes-Benz W126, которые, несмотря
      на свой коммерческий успех, морально и технически устарели к началу
       90-х годов.   
    </div>
    <h2>W220</h2>
    <img src="{{ url_for('static', filename='w220.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        Mercedes-Benz W220 — четвёртое поколение флагманского семейства
         представительских автомобилей S-класса немецкой марки Mercedes-Benz,
          выпускавшихся с 1998 по 2005 год. Пришло на смену модели W140. 
          В 2002 году претерпело рестайлинг, в ходе которого автомобиль 
          получил обновление экстерьера и некоторой электроники, а также
           увеличилась линейка двигателей. В 2005 производство W220 было
            закончено, а на смену ему пришла модель Mercedes-Benz W221.
    </div>
    <h2>W221</h2>
    <img src="{{ url_for('static', filename='w221.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        Mercedes-Benz W221 — пятое поколение флагманской серии 
        представительских автомобилей S-Класса немецкой марки
         Mercedes-Benz, выпускавшихся с 2005 по 2013 год. Пришло 
         на смену модели W220. В 2009 году автомобиль получил рестайлинг,
          в ходе которого были внесены внешние модификации и обновление
           модельного ряда двигателей. В 2013 производство автомобиля W221 было закончено, а на смену ему пришла модель Mercedes-Benz W222.
    </div>
{% endblock %}